* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Poppins', sans-serif;
}

/*UTILITY*/

/*flex*/
.d-flex { display: flex; }
.flex-between { justify-content: space-between; }
.flex-wrap { flex-wrap: wrap; }
.flex-center { justify-content: center; }
.flex-item-center { align-items: center; }

/*root*/
:root {
    --footerColor: #282828;
    --mainColor: #141922;
    --asideColor: black;
    --textGray: #64676d;
    --textWhite: #fbfbfb;
}

/*text*/
.t-center { text-align: center; }
.t-right { text-align: right; }
.t-dec-none { text-decoration: none; }
.list-none { list-style: none; }
.t-white { color: var(--textWhite); }
.t-gray { color: var(--textGray); }





/*DEBUG*/
.debug .main-nav {
    border: 1px solid white;
}
.debug .card {
    background-color: orange;
    height: 100%;
}
.debug section ul li {
    background-color: red;
    border: 1px solid white;
}
.debug footer div {
    background-color: brown;
}
.debug .sidebar-top, .debug .sidebar-bottom {
    background-color: red;
}
.debug .sidebar-icons, .debug .sidebar-playlist {
    background-color: orange;
}






/*CSS*/
main {
    height: calc(100vh - 100px);
    background-color: var(--mainColor);
} 
aside {
    width: 50px;
    background-color: var(--asideColor);
}
.main-content {
    width: calc(100% - 50px);
    padding: 5rem 0.5rem ;
    overflow-y: scroll;
}
.main-content::-webkit-scrollbar {
    display: none;
}
.cta {
    height: 70px;
    width: calc(100vw - 50px);
    position: fixed;
    top: 0;
    left: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.cta span {
    line-height: 70px;
    margin-right: 2rem;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 20px;
}
.main-nav {
    width: 100%;
}
.main-nav li {
    padding: 20px;
}

 /*sections*/

section {
    margin: 3rem 0;
}
section ul {
    width: 100%;
}
section ul li {
    padding: 0.5rem;
    width: calc(100% / 2);
    min-height: 200px;
}



/*sidebar*/
.sidebar {
    flex-direction: column;
    padding: 0.2rem;
}
.sidebar-top {
    width: 100%;
}
.sidebar-bottom {
    width: 100%;
}
.sidebar-playlist {
    padding: 1rem 0;
    margin: 1rem 0;
    display: none;
}
.logo {
    padding: 1rem 0;
}
.sidebar .text {
    display: none;
}


/*footer*/
footer {
    height: 100px;
    background-color: var(--footerColor);
}
.f-item-sx, .f-item-dx {
    width: 25%;
    height: 80px;
}
.f-item-center {
    width: 40%;
    height: 100%;
}









/*MEDIA QUERY*/

/*tablet*/

@media screen and (min-width: 578px) {
    aside {
        width: 200px;
    }
    .main-content {
        width: calc(100% - 200px);
    }
    .cta {
        width: calc(100% - 200px);
        left: 200px;
    }
    .sidebar-playlist {
        display: inline-block;
    }
    .sidebar .text {
        display: inline-block;
    }
}


/*desktop*/

@media screen and (min-width: 768px) {
    aside {
        width: 300px;
    }
    .main-content {
        width: calc(100% - 300px);
    }
    .cta {
        width: calc(100% - 300px);
        left: 300px;
    }
    section ul li {
        width: calc(100% / 4);
    }
    .f-item-sx, .f-item-dx {
        width: 20%;
    }
    .sidebar {
        padding: 1rem 1rem 0.2rem;
    }
}

/*desktop grande*/

@media screen and (min-width: 992px) {
    section ul li {
        width: calc(100% / 6);
    }
}